

@media screen and (max-width: 780px) {
    .container{
      width: 80%;
      margin: 0 auto;
    }
}
  


@media screen and (max-width: 480px) {
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }

    .why-us{
        background-color: black;
    }

    .steps{
        margin: 0;
    }
    
}
